body {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height: 100vh;
}
#root .App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
}

.profile-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #101828;
  margin-bottom: 10px;
}

.profile-wrapper .user-icon{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile-wrapper .share-icon{
  position: absolute;
  right: 12%;
  top: 10%;
  padding: 10px;
  border-radius: 50%;
  border: 1px dotted #EAECF0; 
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.links-section-wrapper{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.links-section-wrapper .link-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  padding: 4px 16px;
  background-color: #EAECF0;
  border: 1px solid #EAECF0;
  color: #101828;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.slack-github-logo-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  padding-top: 20px;
  border-top: 1px solid #EAECF0;
}

footer img{
  width: 95px;
  height: 42px;
  max-width: 70vw;
  flex-grow: 0 !important;
}

.footer-text{
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085; 
}

/* Contact Page Styles */

.contact__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.contact__header .contact__header_text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #101828;
}

.contact__header .contact__header_sub_text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
}

.contact__body{
  display: flex;
  flex-direction: column;
}
.contact__body .input__container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
}
.row{
  flex-direction: row;
}

.contact__body .input__wrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact__body input, .contact__body textarea{
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 4px 10px;
}

.contact__body textarea{
  resize: none;
  height: 100px;
}

.contact__body input:focus, .contact__body textarea:focus{
  border: 1px solid rgb(208 213 221);
  outline: none;
  box-shadow: 0px 1px 5px rgba(16, 24, 40, 0.05);
}

.contact__body .input__text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #475467;;
}

.contact__body #btn__submit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  width: 100%;
  height: 48px;
  background: #1570EF;
  color: white;
  border: 1px solid #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

